<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body">
    <header class="h-16 bg-transparent w-full flex items-center px-2">
        <div class="flex items-center space-x-2">
            <img class="w-9 h-9" src="../assets/images/flux-logo-light.svg"/>
            <a class="text-3xl text-base-content">Flux Editor</a>
        </div>
        <div class="ml-auto mr-2">
            <a class="text-xl" href="https://github.com/kyteidev/FluxEditor">Source</a>
        </div>
    </header>
  </body>
</html>
