<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="w-screen h-screen overflow-hidden">
    <header class="h-16 bg-transparent w-full flex items-center px-2">
        <div class="flex items-center space-x-2">
            <img class="w-9 h-9" src="../assets/images/flux-logo-light.svg"/>
            <a class="text-3xl text-base-content">Flux Editor</a>
        </div>
        <div class="ml-auto mr-2">
            <a class="text-xl" href="https://github.com/kyteidev/FluxEditor">Source</a>
        </div>
    </header>
    <div class="main bg-base-100 w-full flex flex-col items-center pt-32">
        <div class="flex flex-col items-center mb-7">
            <h1 class="text-accent text-7xl brightness-150">Blazing fast</h1>
            <p class="text-content text-5xl">code editor.</p>
        </div>
        <div class="flex flex-col items-center space-y-2">
            <button class="btn btn-accent">Download Beta</button>
        </div>
    </div>
    <footer class="h-12 w-full flex flex-col space-y-1 justify-center items-center absolute bottom-0 text-xs">
        <p>Copyright © 2024 <a href="https://github.com/kyteidev/FluxEditor/graphs/contributors">The Flux Editor Contributors</a>. Licensed under the GNU General Public License v3.0</p>
        <p>This site is made using <a href="https://daisyui.com/">DaisyUI</a>.</p>
    </footer>
  </body>
</html>
