<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ "/assets/favicon.ico" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="w-screen h-screen">
    <header class="h-16 bg-transparent w-full flex items-center px-4">
        <div class="flex items-center space-x-2">
            <a href="https://fluxeditor.github.io/"><img class="w-9 h-9" src="../assets/images/flux-logo-light.svg"/></a>
            <a href="https://fluxeditor.github.io/" class="text-3xl text-base-content">Flux Editor</a>
        </div>
        <div class="ml-auto">
            <a class="text-xl" href="https://github.com/kyteidev/FluxEditor">Source</a>
        </div>
    </header>
    <div class="main bg-base-100 w-full h-[40rem] flex flex-col items-center pt-40">
        <div class="flex flex-col items-center mb-7">
            <h1 class="text-accent text-7xl brightness-150 text-center">Blazing fast</h1>
            <p class="text-content text-5xl text-center">code editor.</p>
        </div>
        <div class="flex flex-col items-center space-y-2">
            <button class="btn btn-accent" onclick="modal.showModal()">Download Beta</button>
            <p class="text-xs">Not working? Try <a class="text-info" href="https://github.com/kyteidev/FluxEditor/releases">this.</a></p>
        </div>
        <dialog id="modal" class="modal">
          <div class="modal-box">
            <h3 class="text-lg font-bold">NOTE!</h3>
            <p class="pt-4 text-justify">Since I don't have a code-signing certificate yet, you may encounter
                a "unidentified developer" or "Windows protected your PC" popup. If you don't trust the
                builds, you can always build Flux Editor from source
                (instructions <a class="text-info" style="nav-index: -1;" href="https://github.com/kyteidev/FluxEditor/blob/dev/CONTRIBUTING.md">here</a>).
                Thank you for understanding.
            </p>
            <div class="modal-action">
                <a class="btn btn-accent" href="https://github.com/kyteidev/FluxEditor/releases">Continue</a>
            </div>
          </div>
          <form method="dialog" class="modal-backdrop">
            <button>close</button>
          </form>
        </dialog>
    </div>
    <footer class="h-12 w-full flex flex-col space-y-1 justify-center items-center text-xs p-5">
        <p class="text-center">Copyright © 2024 <a href="https://github.com/kyteidev/">kyteidev</a>. Licensed under the GNU General Public License v3.0</p>
        <p>This site is made using <a href="https://daisyui.com/">DaisyUI</a>, and is still WIP.</p>
    </footer>
  </body>
</html>
